{% set body = eck_entity.field_quote.value %}

{% set classes = [
'message-section',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="narrow_width_plus_padding">
    <div class="narrow_width s_inner">
      <div class="message-section__text">{{ body }}</div>
    </div>
  </div>
</section>


  